<div class="card mat-card" id="first-card">
    <div id="profile-background">
        <img 
        class="background-image"
        src="https://img.freepik.com/vector-premium/codigo-programacion-fondo-codificacion-o-hacker-icono-codigo-programacion-hecho-codigo-binario_127544-815.jpg?w=2000"
        width=80%
        height="300"      
        />
    </div>
    <div id="info" style="padding: 16px">
        <div id="info-img">
            <img
            class="profile-image"
            src="https://github.com/Lucasb5800/Portafolio-Parte1/blob/develop/FotoCurriculum.jpg?raw=true"
            width="170"
            height="150"
            />
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-plus"></i></a> 
            </div>
        </div>
        <div id="info-data">
            <div class="resume-info">
                <h1>Lucas Buffa</h1>
                <div id="info-company">
                    <p> Desarrollador de Software con experiencia en Labview</p>
                </div>
            </div>
        </div>
    </div>
</div>
