<div class="card mat-card">
    <div id="experience">
        <div class="card-titles">
            <h2>Experiecia</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div>
            <ul class="items-list">
                <li ngFor="let experience of experienceList">
                    <mat-card class="data-card">
                        <div class="data-container">
                            <a href="#">
                                <div class="logo-image-container">
                                    <img
                                    class="logo-image"
                                    src="https://media-exp1.licdn.com/dms/image/C4D0BAQGgTWd7x9021w/company-logo_200_200/0/1657570695528?e=2147483647&v=beta&t=SMBe3HfItHDANLqdUL48vwlkCQ1yYpldvctuS-IxMG8"
                                    width="50"
                                    height="50"
                                    />
                                </div>
                                <div class="list-info">
                                    <div>
                                    <h3>Backend Developer</h3>
                                    <p>Konecta - <span> Jornada Completa</span></p>
                                    <h4>Ago 2021 - Actualidad - 1 año y 2 meses</h4>
                                    <h4>Córdoba, Argentina</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div>
                    </mat-card>
                </li>
            </ul>
        </div>
    </div>
    <div id="education">
        <div class="card-titles">
            <h2>Educación</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="education-data">
            <ul class="item-list">
                <li ngFor="let education of educationList">
                    <mat-card class="data-card">
                        <div class="data-container">
                            <a href="#">
                                <div class="logo-image-container">
                                    <img
                                    class="logo-image"
                                    src="https://yt3.ggpht.com/ytc/AMLnZu8CgyREOTFlFBvqENLjyoBYbqOKRamyOMhI_hS7=s900-c-k-c0x00ffffff-no-rj"
                                    width="50"
                                    height="50"
                                    />
                                </div>
                                <div class="list-info">
                                    <div>
                                        <h3>UTN FRC</h3>
                                        <p>Ingenieria Electrónica</p>
                                        <p>Cursando 4to AÑO</p>
                                        <p><time>2016</time> - <time>Actualidad</time></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="data-control">
                            <div class="btn-edit">
                                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            </div>
                        </div>
                    </mat-card>
                </li>
            </ul>
        </div>
    </div>
</div>