<div class="description-module">
    <div class="card mat-card">
        <div class="card-titles">
            <div class="text-content">
                <h2>Descripción</h2>
            </div>
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div class="card-content">
            <h2> Programador, Estudiante de Ingenieria Electronica y apasionado de la Tecnologia</h2>
        </div>
    </div>
</div>